/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: aktiv-grotesk;
    background-color: #fff; /* changed to white background */
    color: #000; /* changed to black text */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #fff; /* changed to black */
    color: #000;
    padding: 8px 0; /* increased padding */
}

header h1 {
    margin: 0;
}

.hero {
    padding: 50px 0; /* increased padding */
    background-color: #fff; /* changed to black */
    color: #000;
    position: relative; /* added */
}

.hero .image-container {
    position: absolute; /* added */
    top: 0; /* added */
    right: 0; /* added */
    margin-top: 20px; /* added */
    margin-right: 20px; /* added */
    width: 40%; /* added */
}

.hero h2 {
    font-size: 40px; /* Changed font size for smaller screens */
    margin-bottom: 20px; /* decreased margin for smaller screens */
    margin-left: 20px; /* decreased margin for smaller screens */
}

.hero p{
    margin-left: 20px; /* decreased margin for smaller screens */
}  

.btn {
    display: inline-block;
    background-color: #000; /* changed to white */
    color: #fff; /* changed to black */
    padding: 15px 30px; /* increased padding */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* decreased margin for smaller screens */
}

.btn:hover {
    background-color: #000;
    color: #ccc;
}

.image-container img {
    max-width: 100%;
    height: auto; /* Adjusted to maintain aspect ratio */
    border-radius: 10px 25px 25px 5px; /* border radius only on the right side */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.blog {
    padding: 50px 0; /* increased padding */
    background-color: #fff; /* changed to white */
    color: #000;
}

.blog h2 {
    text-align: center; /* center align heading */
    margin-bottom: 30px; /* increased margin */
}

.blog-gallery {
    display: flex; /* Display blogs side by side */
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between; /* Add space between items */
}

.blog-post {
    width: calc(33.33% - 20px); /* Calculate width with spacing */
    margin-bottom: 40px; /* Increased margin */
    border-radius: 10px;
    overflow: hidden; /* Hide overflowing content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Rounded corners for top of the image */
}

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    margin-bottom: 10px; /* increased margin */
}

.blog-content p {
    margin-bottom: 10px; /* increased margin */
}

footer {
    background-color: #fff; /* changed to black */
    color: #000;
    text-align: center;
    padding: 8px 0; /* increased padding */
}

a {
    color: #000;
    text-decoration: none;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .hero h2 {
        font-size: 30px; /* Adjusted font size for smaller screens */
        margin-left: 10px; /* Adjusted margin for smaller screens */
    }

    .hero p {
        margin-left: 10px; /* Adjusted margin for smaller screens */
    }

    .btn {
        margin-left: 10px; /* Adjusted margin for smaller screens */
    }

    .image-container {
        display: none;
    }


    .blog-post {
        width: 100%; /* Full width for blog posts on smaller screens */
    }
}
