/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
}

.container {
            width: 80%;
            margin: 0 auto;
            position: relative; /* Relative positioning for child elements */
            z-index: 1; /* Ensure content appears above background image */
}

header {
    background-color: #fff; /* changed to black */
            color: #000;
            padding: 8px 0; /* increased padding */
}

header h1 {
    margin: 0;
}

.hero {
            position: relative; /* Relative positioning for absolute elements */
            padding: 50px 0; /* increased padding */
            background-color: #000; /* changed to black */
            color: #fff;
            background-image: url('image/background.webp'); /* Set background image */
            background-size: cover; /* Cover the entire container */
            background-position: center; /* Center the background image */
            height: 100vh; /* Set hero section height to viewport height */
            display: flex; /* Use flexbox to center content vertically */
            align-items: center; /* Center content vertically */
}

.hero-content {
            position: relative; /* Relative positioning for absolute elements */
}


.hero h2 {
            font-size: 40px; /* Changed font size for smaller screens */
            margin-bottom: 20px; /* decreased margin for smaller screens */
}

.hero p{
    margin-bottom: 20px; /* decreased margin for smaller screens */
}  

.btn {
    display: inline-block;
    background-color: #fff; /* changed to white */
    color: #000; /* changed to black */
    padding: 15px 30px; /* increased padding */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .hero h2 {
        font-size: 30px; /* Adjusted font size for smaller screens */
    }

    .hero p {
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
    }

    .btn {
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
    }

    .blog-post {
        width: 100%; /* Full width for blog posts on smaller screens */
    }
}
