/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: aktiv-grotesk;
    background-color: #fff; /* changed to white background */
    color: #000; /* changed to black text */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #fff; /* changed to black */
    color: #000;
    padding: 8px 0; /* increased padding */
}

header h1 {
    margin-left: 20px;
}

.hero {
    padding: 80px 0; /* increased padding */
    background-color: #fff; /* changed to black */
    color: #000;
    display: flex;
    align-items: flex-start; /* align items to the top */
    justify-content: space-between; /* space between the elements */
    margin-top: 40px; /* increased margin */
}

.hero h2 {
    font-size: 80px;
    margin-bottom: 40px; /* increased margin */
    margin-left: 60px;
}

.hero p{
    margin-left: 60px;
}  

.btn {
    display: inline-block;
    background-color: #000; /* changed to white */
    color: #fff; /* changed to black */
    padding: 15px 30px; /* increased padding */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.image-container {
    flex-grow: 1;
    text-align: right;
    margin-right: 20px; /* added margin */
    margin-top: 40px; /* increased margin */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 25px 25px 5px; /* border radius only on the right side */
}


footer {
    background-color: #fff; /* changed to black */
    color: #000;
    text-align: center;
    padding: 8px 0; /* increased padding */
}

a {
    color: #000;
}
